a.social{
    --bg-image: "";
    background-image: var(--bg-image);

    width: 1.5rem;
    height: 1.5rem;
    display: block;

    -webkit-background-clip: initial;
    background-clip: initial; 

    &[aria-label = "TikTok"]{
        --bg-image: url(../assets/icons/tiktok.svg);

        &:hover{
            --bg-image: url(../assets/icons/hover-tiktok.svg);
        }
    }

    &[aria-label = "Discord"]{
        --bg-image: url(../assets/icons/discord.svg);

        &:hover{
            --bg-image: url(../assets/icons/hover-discord.svg);
        }
    }

    &[aria-label = "Twitter"]{
        --bg-image: url(../assets/icons/twitter-x.svg);

        &:hover{
            --bg-image: url(../assets/icons/hover-twitter-x.svg);
        }
    }

    &[aria-label = "Instagram"]{
        --bg-image: url(../assets/icons/instagram.svg);

        &:hover{
            --bg-image: url(../assets/icons/hover-instagram.svg);
        }
    }
}